.list-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.list-wrapper {
    padding: 0 20px;
    height: 400px;
}

.max-line {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
}