.App
{
    border: 3px solid #000;
    border-radius: 10px;
    height: 630px;
    margin: 40px auto;
    padding: 10px 0;
    width: 600px;
}
.addTask
{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    padding: 0 20px;
}